<h3>Todoapp</h3>

<div class="container">
    <input type="text" [(ngModel)]="inputValue"     placeholder="Nowe zadnie" (keydown)=onKeyDownEvent($event)>  
<button class="btn btn-primary" type="button" (click)=" handleClick()">Dodaj</button> 
<button type="button" (click)="removeAll()">Usuń wszystko</button> 
<button type="button" (click)="removeCompletedTask()">Usuń zrobione</button> 
<ul class="list-group">
    <li class="list-group-item" *ngFor = "let task of list">
        <div *ngIf="task.isCompleted; else notCompleted">
            <s>{{ task.name }}</s> <span (click)=remove(task)>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146a.5.5 0 1 0-.708.708L7.293 8 6.146 9.146a.5.5 0 1 0 .708.708L8 8.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 8l1.147-1.146a.5.5 0 0 0-.708-.708L8 7.293 6.854 6.146z"/>
                  </svg>
            </span>

        </div>

        <ng-template #notCompleted>
            <a>{{ task.name }}</a> <span (click)=remove(task)>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146a.5.5 0 1 0-.708.708L7.293 8 6.146 9.146a.5.5 0 1 0 .708.708L8 8.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 8l1.147-1.146a.5.5 0 0 0-.708-.708L8 7.293 6.854 6.146z"/>
                  </svg>
            </span>

            <span (click)=MarkAsCompleted(task)>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                  </svg>
            </span>
        </ng-template>
    </li>
</ul>

</div>

